body {
    font-family: "Intro Inline", "Intro Inline", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #000000;
    padding: 0;
}
/* Базовая кнопка-гамбургер */
.hamburger {
    cursor: pointer;
    display: block; /* Убедитесь, что кнопка видна */
    width: 30px;
    height: 25px;
    position: relative;
}

/* Полоски внутри кнопки-гамбургера */
.hamburger span {
    background-color: #333; /* Цвет полосок */
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.3s; /* Анимация для смены состояния */
}

/* Расположение полосок */
.hamburger span:nth-child(1) {
    top: 0;
}
.hamburger span:nth-child(2) {
    top: 10px;
}
.hamburger span:nth-child(3) {
    top: 20px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 10px;
}

header nav img {
    width: 60px;
    margin-bottom: 0;
}

.menu-element {
    display: flex;
    align-items: center;
}

.menu-element .icon {
    width: 30px; 
    height: 30px;
    margin-right: 8px; 
    vertical-align: middle;
}

header ul {
    font-family: "Intro Inline", "Intro Inline", cursive;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

header li {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 250ms ease-in-out;
}

header nav a:hover {
    border-bottom: 1px solid #ffffff;
}

.top-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}
.top-image-sub
{
    height: 150px;
    object-fit: cover;
}
.about-us{
    color:#454546
}
.about-container{
    max-width: 960px;
    margin: 80px auto;
}
.about-row {
    display: flex;
    align-items: center;
}
.about-column {
    width: 50%;
    padding: 0 15px;
}
.about-column img {
    width: 100%;
}
.about-us h2, 
.about-us h3, 
.about-us p {
    margin-bottom: 15px;
} 
.about-contact {
    display: flex;
}
.about-contact span{
    margin-bottom: 7px;
}
.about-contact span:first-child {
    flex: 1;
}
.about-contact span:last-child {
    color:#9cd0f8;
    font-weight: 600;
    flex: 3;
}
.achievement-container {
    width: 100%;
    margin: 80px auto;
    background-color: #0f3d74d3; 
    color: #c1e7f5;
  }
  
  .achievement-row {
    display: flex;
    align-items: center;
    padding: 70px 0;
  }
  
  .achievement-column {
    width: 25%;
    padding: 0 15px;
  }
  .single-achievement {
    text-align: center;
  }
  
  .single-achievement p {
    font-size: 18px;
  }
.services {
    text-align: center;
    margin: 50px 0;
    color: #f895df;
}

.main-title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: #f895df;
}
.delimiter {
    width: 100px;
    margin: 10px auto 15px;
    height: 1px;
    background: rgba(1, 139, 253, 0.74);
}

.main-title-description {
    color:#3c9cf5;
    text-align: center;
}

.services p {
    color: #4cb6e7;
}

.services-container {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.container-row {
    text-align: center;
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
}

.row-item {
    width: 30%;
    margin: 25px 0;
}

.row-item img {
    width: 300px;
    opacity: 0.75;
}

.row-item h2 {
    font-weight: 400;
    font-size: 26px;
    margin: 8px 0;
    color: #f895df;
}
.content-left{
    margin-bottom: 180px;
}
.overlay {
    margin: 80px 0;
    padding: 80px 30px;
    background: #fff  url('https://coop-land.ru/uploads/posts/2020-06/1591353312_ji1tfbuu2z251.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #555252;
    content: "";
    transition: all .4s ease;
    opacity: .7;
    z-index: 1;
}

.overlay .main-title {
    color: #ffffff; 
}

.overlay .main-title-description {
    color: #ffffff;
}

.overlay .common-button {
    color: #ffffff; 
}
.common-button {
    border: 1px solid #2d2f31;
    background-color: transparent;
    padding: 15px 25px;
    border-radius: 4px;
    color: #2d2f31;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 250ms ease;
}

.common-button:hover {
    color: #fff;
    background-color: #2d2f31;
}

.black-back .common-button {
    border-color: rgba(206, 65, 110, 0.74);
    color: #ce416e;
}

.black-back .common-button:hover {
    color: #fff;
    background-color: rgba(206, 65, 110, 0.74);
}

.black-back .main-title {
    color: #fff;
}

.black-back .main-title-description {
    color: #fff;
}
.popup-container{
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    top: 0;
    right: 0;
    bottom: -15000px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease;
}
.popup-container.ready {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
}
.popup{
    background: white;
    border-radius: 10px;
    padding: 15px 15px 35px;
    max-width: 75%;
    box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.testimonials {
    margin: 80px;
}

.testimonials-container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

.testimonial-inner {
    display: flex;
    padding: 40px 0 25px;
    transition: transform 350ms ease-in-out;
}

.testimonial-slide {
    display: flex;
    justify-content: space-between;
    width: 33.33%; 
    flex-shrink: 0;
}
.testimonials-controls {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}
.testimonial-card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    width: 47%; 
    flex-shrink: 0;
    margin: 15px;
    border-radius: 7px;
    padding: 15px;
    color: #454546;
}

.card-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}

.card-head span {
    line-height: 1.5em;
    color: #c1c1c1;
    
}
.control-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: lightgray;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 250ms ease;
}
.control-item:hover {
    background-color: gray;
}
.control-item.active {
    cursor: default;
    background-color: #ee6ac2;
}
.portfolio-container {
    margin: 50px 0; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    cursor: pointer;
}

.portfolio-item {
    background-size: cover; 
    background-position: center; 
    width: 33.33%; 
    height: 250px; 
    display: flex; 
    align-items: center; 
    position: relative; 
    flex: 0 1 calc(33.33% - 10px); 
    margin-bottom: 10px;
}

.description-container {
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
    opacity: 0;
    height: 0; 
    background: #2d2f31;
    transition: all 250ms ease-in-out; 
    position: absolute;
    bottom: 0; 
    width: 100%; 
}

.portfolio-item:hover .description-container {
    opacity: 0.8;
    height: 100%;  
}

.portfolio-title,
.portfolio-description {
    color: white; 
}

.portfolio-title {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 5px; 
}

.contact-form {
    max-width: 960px;
    padding: 0 30px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-form .col {
    width: 50%;
    margin-bottom: 25px;
}

.contact-form .col:nth-child(odd) {
    border-right: none;
}

.contact-form .row-col {
    width: 100%;
    margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #afafaf;
    padding: 15px;
}

.contact-form .submit {
    background: #f895df;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.contact-form .submit:hover {
    background: #f366d0;
}

.contact-form .submit:active {
    background: #dd2cb1;
}
.contact-form .check {
    color: #f895df;
    text-align: center;
}
.contact-form .check a { 
    color: #ce416e
}

footer {
    background: #000000;
    padding-bottom: 10px;
    
    }
    .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .brand span {
    font-size: 46px;
    font-weight: 400;
    color: rgb(132, 43, 204);
    font-family: "Intro Inline", "OpenSans-Light", Helvetica, Arial, sans-serif;
    line-height: 1;
    margin-left: 15px;
    }
    .brand img {
    width: 35px;
    }
    .social {
        display: flex;
        justify-content: center;
    }
    .social a {
        margin: 10px;
    }
    .social img {
        width: 30px;
    }
    .copyright {
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }
    header nav, 
    footer nav {
        display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin: auto;
        padding: 0 30px;
    }
    header ul,
    footer ul{  display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin: auto;
        padding: 0 30px;}
    header li, 
    footer li{ display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin: auto;
        padding: 0 30px;}
    header nav a, 
    footer nav a { display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin: auto;
        padding: 0 30px;}
    header nav a:hover, 
    footer nav a:hover { display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin: auto;
        padding: 0 30px;}
        footer ul {
            justify-content: center;
        }  
        header {
            background: #2d2f31;
            position: sticky;
            top: 0; 
            z-index: 1;
        }
        

@media screen and (max-width: 992px) {
    .container-row {
        flex-direction: column;
    }
    .row-item {
        width: 45%;
    }
    header nav img {
        width: 35px;
    }
    .main-content {
        margin-left: 0;
        padding: 20px;
    }
    .portfolio-item {
        width: 50%;
        }       
    header nav {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
    }
    header nav li {
        display: none;
        padding: 15px 0;
    }
    .icon {
        display: flex;
        margin: auto 0;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 4px;
        font-size: 20px; }
        nav li {
            display: none;
            padding: 15px 0;
            }
    header ul {
        position: absolute;
        left: 0;
        right: 0;
        background: #2d2f31;
        height: 0px;
        top: 57px;
        transition: all 250ms ease-in-out;
        flex-direction: column;
    }
    .responsive ul{
        height: 200px;
    }
    .responsive li {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .row-item {
        width: unset;
    }
    .container-row{
        flex-direction: column;
    }
    header ul {
        display: none;
    }
    .icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        color: white;
    }
    .portfolio-item {
        flex: 0 1 calc(50% - 10px); 
    }
}

@media screen and (max-width: 576px) {
    .portfolio-item {
        width: 100%; 
    }
    header nav img {
        width: 30px;
    }
    .row-item img {
        width: 70px;
    }
    .main-content {
        margin-left: 0;
    }
    
.contact-form .col:nth-child(odd){
    border: 1px solid #afafaf
}
.contact-form .col {
    width: 100%;
    margin-bottom: 15px;
}
.contact-form .submit{
    font-size: 14px;
}
}